
#hero .main-container{
  /* border: 7px solid rgb(101, 220, 10); */
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#hero .main-container-item{
  /* border: 2px solid black; */
  background-color: #EFECFE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  height: 82%;
  border-radius: 30px;
  margin-top: 65px;
}

 #hero .left-section{
  /* border: 2px solid yellow; */
  margin-left:70px;
}

#hero .right-section{
  /* border: 2px solid blue; */
  margin-right:70px;
}
#hero h1{
 font-size: 75px;
}
#hero h1{
  line-height: 0.9;
}
#hero h4{
  font-size: 17px;
  margin-bottom: 5px;
  margin-left: 7px;
  opacity: 0.69;
}
#hero img{
  margin-top: 30px;
}
#hero .download-app{
  display: flex;
}
#hero .stars-reviews{
  /* border:2px solid black; */
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
#hero h6{
  /* border: 2px solid blue; */
  margin-left: 30px;
  opacity: 0.7;
  font-size: 13px;
  margin-top: 5px;
}